{% extends 'store/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Welcome Back</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Login</button>
                </form>
                <div class="text-center mt-3">
                    <small>Don't have an account? <a href="{% url 'register' %}">Sign up</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}